Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_URI} !=/index.php
RewriteCond %{REQUEST_URI} !.*\.png$ [NC]
RewriteCond %{REQUEST_URI} !.*\.jpg$ [NC]
RewriteCond %{REQUEST_URI} !.*\.css$ [NC]
RewriteCond %{REQUEST_URI} !.*\.gif$ [NC]
RewriteCond %{REQUEST_URI} !.*\.js$ [NC]
RewriteCond %{REQUEST_URI} !.*\.webp$ [NC]
RewriteRule .*  index.php
#RewriteRule ^(?!public/)[^/]+/((?:CSS|JS)/.+)$ /public/$1 [L,NC,R]