.product-list{
    border: 1px solid #afafaf;
    min-height: 300px;
}

.category-list{
    border: 1px solid #afafaf;
    min-height: 300px;
}

.item{
    border: 1px solid #fff!important;
}
.item-price{
    font-size: 13px;
}